:root {
  --light-blue: #0eb4cc;
  --light-green: #47f2ff;
  --yellow: #f3af06;
  --royal-blue: #16099f;
  --OffWhite: #f8f8f8;
  --transition: ease-in-out 0.4s;
  --radius: 0.25rem;
  --border: 1px solid red;
}

.Header {
  width: 100vw;
  background: var(--OffWhite);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0eb4cc;
}

.Header__logo,
.Header__nav {
  width: 50%;
  margin: 0.5rem;
}

.Header__nav .nav__list,
.Header__logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0 0.5rem;
}

.Header__logo {
  justify-content: flex-start;
}

.Header__logo img {
  width: 45px;
  margin: 0.5rem 1.5rem;
}
.Header__logo h3 {
  color: var(--light-blue);
  font-size: 1rem;
}

.Header__nav .nav__list li a {
  text-decoration: none;
  color: var(--light-blue);
  font-weight: bold;
  margin: 0 0.5rem;
  transition: var(--transition);
}

.Header__nav .nav__list li a:hover {
  cursor: pointer;
  color: var(--royal-blue);
}
